.navlink-amatic {
    font-family: "Amatic";
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;

   
}

.navlink-amatic:hover {
    font-size: 2em;
    transition: 0.5s;
   
    
   
   
}

.centre {
    justify-content: center;
    margin: auto;
    padding:20px;
    align-content: center;
    background-color: rebeccapurple;
}

@font-face {
    font-family: "Amatic";   /*Can be any text*/
    src: local("AmaticSC-Regular"),
      url("./fonts/AmaticSC-Regular.ttf") format("truetype");
  }